/* .warehouse-container {
  height: 70%;
  width: 80%;
}

.column-container {
  display: flex;
  justify-content: space-around;
} */

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
  width: 49px;
  height: 454px;
}

/* .column-container:before, */
.column-container:after {
  content: "";
  height: 9px;
}
