.input-container {
  margin-left: 90px;
  display: flex;
  flex-direction: column;
}

.input-container .input {
  /* width: 100%; */
  /* font-size: 1rem; */
  /* padding: 0.25rem; */
  vertical-align: middle;
  box-shadow: 0 0 0 transparent;
  /* border: 1px solid #999; */
  outline: 0 none;
  transition: box-shadow 1s;

  /* Input: Border-Radius & Box-Shadow */
  /* overriding box-shadow transparent */
  /* border-radius: 5px 5px 10px 10px; */
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0 3px 30px 1px white;
}

.input-container .input.valid {
  /* Input: Border-Radius & Box-Shadow */
  /* overriding my box-shadow white */
  
  box-shadow: 0 -3px 30px 1px #22bd22;
}

.input-container .input.error {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em red;

  /* Input: Border-Radius & Box-Shadow */
  /* overriding box-shadow red */
  box-shadow: 0 -3px 30px 1px rgb(212, 44, 44);
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.input-container .submit {
  color: white;
  background-color: rgb(32, 158, 32);
  border-color: rgb(15, 105, 15);

  /* Button: Border-Radius & Box-Shadow */
  border-radius: 1rem 1rem 5rem 5rem;
  box-shadow: 0 3px 30px 1px white;
}

.input-container .submit:hover {
  color: white;
  background-color: rgb(34, 189, 34);
  border-color: rgb(15, 105, 15);
}

.input-container .submit:active {
  color: white;
  background-color: rgb(15, 105, 15);
  border-color: rgb(15, 105, 15);
}

.input-container .submit .disabled,
.submit:hover .disabled,
.submit:active .disabled {
  background-color: rgb(124, 133, 124);
  border-color: rgb(109, 110, 109);
}
