/* .overlay-image {
  animation: slide-in 1500ms;
} */

/* https://www.joshwcomeau.com/animation/keyframe-animations/ */
/* @keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
} */
