.arrow-container {
    display: flex;
    /* justify-content: end; */
    width: 232px;
    height: 109px;

    position: absolute;
    left: auto;
    right: 0;

    top: auto;
    bottom: 0;
}

.arrow-container button {
    background-color: red;
    opacity: 50%;
}