.arrow-container {
  display: flex;
  justify-content: flex-end;
  width: 232px;
  height: 109px;

  position: absolute;
  left: auto;
  right: 0;

  top: auto;
  bottom: 0;
}

.arrow-container button {
  background-color: unset;
  border-color: unset;
  border: 0;
}

.result-text {
  z-index: 1;
  position: absolute;
  top: 55%;
  left: 50%;
  font-size: 48px;
}

