.bar {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.leftbar {
  align-items: center;
  justify-content: center;
}

.locked {
  filter: blur(3px);
}

.rightbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightbar .top {
  height: 333px;
  width: 400px;
}

.rightbar .top .reset {
  display: flex;
  justify-content: flex-end;
}

.rightbar .top .reset button {
  width: 80px;
  height: 65px;
}

.rightbar .top .active-boxes {
  display: grid;
  width: 157px;
  height: 100px;
  grid-template-rows: repeat(2, 41px);
  grid-template-columns: repeat(3, 41px);
  grid-gap: 16.67px;
  margin-left: 140.5px;
  margin-top: 38px;
}













.rightbar .input-container {
  margin-left: 90px;
  display: flex;
  flex-direction: column;
}

.rightbar .submit {
  color: white;
  background-color: rgb(32, 158, 32);
  border-color: rgb(15, 105, 15);
}

.rightbar .submit:hover {
  color: white;
  background-color: rgb(34, 189, 34);
  border-color: rgb(15, 105, 15);
}

.rightbar .submit:active {
  color: white;
  background-color: rgb(15, 105, 15);
  border-color: rgb(15, 105, 15);
}

/* .rightbar .submit .disabled {
} */
